page-start-time {

  .question {
    position: fixed;
    top: 40%;
    font-size: 1.3em;
  }

  .input-location {
    position: fixed;
    top: 55%;
    width: 60%;
    left: 20;
    right: 20%;
    text-align: center;
  }

  .input-location-md {
    position: fixed;
    top: 48%;
    width: 50%;
    left: 25%;
    right: 30%;
    text-align: center;
  }

  .input-divider {
    width: 100%;
  }

  .input {
    font-size: 3em;
  }

}
