page-list {

  .intro {
    color: gray;
    padding-left: 1em;
    padding-right: 1em;
  }

  .startcol {
    display: inline-block;
    width: 2.6em;
  }

  .startcol-md {
    display: inline-block;
    width: 2.4em;
  }

  .dashcol {
    display: inline-block;
    width: 0.5em;
  }

  .endcol {
    display: inline-block;
    width: 3em;
  }

}
