<!-- Generated template for the WellbeingQuestions component -->
  <!-- <p>
    <question-range
        [(result)]="wellbeing.lucky"
        [text]="feel"
        labelFrom="unglücklich"
        labelTo="glücklich">
    </question-range>
    <question-range
        [(result)]="wellbeing.relaxed"
        labelFrom="gestresst"
        labelTo="entspannt">
    </question-range>
  </p>
  <p>
    <question-range
        [(result)]="wellbeing.like"
        [text]="like"
        labelFrom="überhaupt nicht"
        labelTo="sehr gut">
    </question-range>
  </p> -->
  <p>
    <question-range
        [(result)]="wellbeing.lucky"
        [text]="feel"
        labelFrom="sad"
        labelTo="happy">
    </question-range>
    <question-range
        [(result)]="wellbeing.relaxed"
        labelFrom="stressed"
        labelTo="relaxed">
    </question-range>
  </p>
  <p>
    <question-range
        [(result)]="wellbeing.like"
        [text]="like"
        labelFrom="a lot"
        labelTo="not at all">
    </question-range>
  </p>
